<div>
  <!-- Skeleton Text for the logo -->
  <div style="display: flex; justify-content: space-between; margin-top: 10%">
    <div
      *ngFor="let item of [0, 1, 2]"
      style="width: 30%; display: inline-block"
    >
      <ion-skeleton-text
        animated
        style="width: 100%; height: 130px"
      ></ion-skeleton-text>
    </div>
  </div>

  <!-- Skeleton Text for the Recent Searches section -->
  <div style="display: flex; justify-content: space-between; margin-top: 10%">
    <div
      *ngFor="let item of [0, 1, 2, 3]"
      style="width: 30%; display: inline-block"
    >
      <ion-skeleton-text
        animated
        style="height: 80px; width: 80%; margin: auto"
      ></ion-skeleton-text>
    </div>
  </div>
  <div style="padding-top: 50px"></div>
  <!-- Skeleton Text for the Swiper Container -->
  <ion-skeleton-text
    animated
    style="height: 300px; width: 100%"
  ></ion-skeleton-text>

  <!-- Skeleton Text for the No Results message -->

  <!-- Skeleton Text for the Trip Buttons -->
</div>
