<ion-row>
  <ion-col size="12" style="justify-content: space-around; display: flex">
    <ion-button (click)="findFlight()">
      <ion-img src="assets/icon/direct-flight.png"></ion-img>
    </ion-button>
    <ion-button (click)="findStay()">
      <ion-img src="assets/icon/hotel.png"></ion-img>
    </ion-button>
    <ion-button>
      <ion-img src="assets/icon/night-club.png"></ion-img>
    </ion-button>
    <ion-button>
      <ion-img src="assets/icon/distance.png"></ion-img>
    </ion-button>
  </ion-col>
</ion-row>
